*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/fondo.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background: rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(10px);
    height: fit-content;
    height: 20%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 80px 20px black;
}

select{
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}